.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  padding: 8px 0;
}

.nav-link {
  font-family: Passions Conflict, cursive;
  text-decoration: none;
  font-size: 48px;
  color: #B98404;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}