.splash-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #233105;
  color: #F27EB1;
  height: 500px;
  width: 100%;
}

.splash-big-text {
  margin: 0;
  font-size: 80px;
  letter-spacing: 0.1ch;
  font-weight: bold;
}

.splash-small-text {
  margin: 0 0 22px;
  font-size: 24px;
  letter-spacing: 0.1ch;
}

.splash-link {
  font-family: Passions Conflict, cursive;
  font-size: 48px;
  color: #FBF8EF;
}

.splash-link:visited {
  color:#F27EB1;
}

/* BREAKPOINTS */
/* mobile */
@media only screen and (max-width: 600px) {
  .splash-small-text {
    font-size: 18px;
  }
  .splash-big-text {
    font-size: 60px;
  }
  .splash-link {
    font-size: 36px;
  }
  .splash-background {
    height: 400px;
  }
}