.App {
  text-align: center;
  margin: 0 auto;
}

.dashed-divider {
  margin-top: 64px;
  width: 60%;
  border: 6px dashed #F27EB1;
}

@media only screen and (max-width: 1200px) {
  .dashed-divider {
    width: 80%;
  }
}